.complete-account{
    background-color: $create-account-background-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__form > h1 {
        font-size: 1.4rem;
        padding: 8vh 0 3vh 2vw;
        width: 70%;
        text-align: center;
    }

    &__form-input {

        &-text {
            margin: 2vh 0 2vh 5vw;
            height: 5vh;
            width: 21vw;
            border-radius: 0.5rem;

            &-label {
                margin: 0 0 0 5vw;
                font-size: 1.2rem;
                font-weight: bold;        
            }
        }

        &-checkbox {
            margin: 2vh 0 0 5vw;
            height: 2.5vh;
            width: 2vw;
            
            &-pronouns-label {
                margin: 0 0 0 5vw;
                font-size: 1.2rem;
                font-weight: bold;
            }

            &-label {
                font-size: 1.2rem;
                padding: 0 0 0 1vw;
            }
        }
    }

    &__form-button {
        margin: 0 0 18vh 5vw;
        height: 5.5vh;
        width: 21.5vw;
        border-radius: .5rem;
        background-color: $create-account-button;
        color: $create-account-button-font-color;
        font-size: 1.2rem;
    }
}