// nav variables

$nav-main-background-color: #0800aa;
$nav-main-background-shadow-color: #0800aa;
$nav-main-font-color: white;

$nav-alt-background-color: white;
$nav-alt-background-shadow-color: white;
$nav-alt-font-color: #0800aa;

$nav-get-started-btn: #e29c8e;
$nav-get-started-font: black;

// footer variables

$footer-background-color: #0800aa;
$footer-font-color: white;

// create account variables

$create-account-background-color: #e7f9fa;
$create-account-button: #0800aa;
$create-account-button-font-color: white;